<h1>Home page</h1>
<div class="homepageDescription">
    <p>
        <b>Team Members:</b> Judy Alahmary and Thomas Hausfeld <br>
        <b>Group Number: </b> 77<br><br>
        <b>Overview:</b><br>

        Deciding on the just the right meal is hard. Conquer your cravings by swiping NomNomNom tonight!
    </p>
</div>