{{!-- Citation: Majorly based on the template provided except the added RESET button at the bottom. --}}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>
        <b>Team Members:</b> Thomas Hausfeld <br>
        <b>Group Number: </b> 77<br><br>
        <b>Overview:</b><br>

        Deciding on the right meal is hard. Conquer your cravings by swiping NomNomNom tonight!
    </p>
</div>

{{!-- Added RESET button here on my own --}}
<form action="/reset_db" method="POST">
    <button type="submit">RESET</button>
</form>