<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/nnn_food_items">Food Items</a>
        <a href="/nnn_restaurants">Restaurants</a>
        <a href="/nnn_customers">Customers</a>
        <a href="/nnn_food_items_orders">Orders</a>
    </nav>

    {{{body}}}

</body>
</html>